span {
	color:green;
}
#my-id {
	font-size:30px;
}
.my-stupid-class{
	background-color:#fff !important;
}
#new-moz{

}
.Hedgehog{
	background-color:grey;
	width:70%;
	height:100%;
	overflow:auto;
	margin:20px,10px,20px,10px;
	float:right;
}

