#grid-flex{
	display:flex;
	flex-wrap: wrap;
	background:red;
}
.grid-item img {
	width:100%;
	display:flex;
	margin:0 auto;

}
#grid-flex .grid-item {
	list-style-position:inside;
	box-shadow:inset 3px 3px 3px 3px  rgba(0,0,0,0.4),0 0 10px black; 
	margin: 0.25%;
	padding:1px;
}

h3 {
	display:inline;

}
h2 {
	
}




@media all 
and (max-width: 400px) and (min-width: 100px) {
	#grid-flex .grid-item:nth-child(1) {
		width:99%;
		background:blue;
	}
	#grid-flex .grid-item:nth-child(n+2) {
		width:48.4%;
		background:white;
	}
	/*#grid-flex .grid-item img {
		width:100%;*/
}
@media all 
and (max-width: 890px) and (min-width: 401px) {
	#grid-flex .grid-item:nth-child(n+1)/*:nth-child(-n+2)*/{
		width:48%;
		background:magenta;


	}
	#grid-flex .grid-item:nth-child(n+3){
		width:30.6%;
		background:white;


	}

}
@media all 
and (max-width: 2000px) and (min-width: 891px) {
	#grid-flex .grid-item:nth-child(n+1) {
		width:49%;
		background:green;
	}
	#grid-flex .grid-item:nth-child(n+2) {
		width:24%;
		background:white;

	}
}